@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

.matdialog{
  background-color: #fff;
}
.title {
  font-family: "Creepster", system-ui;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  color: #043c6e;
  border: 1px;
  padding: 20px;
  line-height: 30px;
  align-items: center;
  
}
.body{
    background-color: #fff;
}

.text{
  text-align: left;
}
.card {
  border: 1px solid #005f73;
  border-radius: 35px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 600px;
  overflow: hidden;
  cursor: default;
  transition: all 400ms ease;
  color: #043c6e;
  background-color: #fff;
  display: inline-block;
  max-height: 600px;
  
}
.card .content {
  flex-grow: 1;
  flex-shrink: 1;
}
.card .footer {
  background-color: #fff;
  padding: 10px;
}
.image {
  border: 10px;
  border-radius: 50%;
  max-width: 80%;
}
